.main_back{
	top:0;
	background-image: url(../img/tutor.jpg);
    padding-bottom: 10px;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.facebook{
	background-color: #3b5998;
}

.facebook:hover{
	background-color: #1b3978;
}

.linkedin{
	background-color: #0e76a8;
}

.linkedin:hover{
	background-color: #005688;
}
