{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}" /> <!-- CSS -->
		<link rel="stylesheet" href="{% static 'css/normalize.css.' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css.' %}" />
        <script src="{% static 'js/vendor/modernizr.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/foundation.js' %}"></script>
		<script src="{% static 'js/foundation.orbit.js' %}"></script>

    {% load static %} <!--loads the static folder containing css and images -->

    {% load i18n %}
    {% load url from future %}
    </head>
    <body>
    {% block navigator %}
		<div class="contain-to-grid sticky" data-options="sticky_on: large" >
			<nav class="top-bar" data-topbar >
				  <ul class="title-area">
					<li class="name">
					  <h1 style="font-size: 22pt;" ><a herf="http://localhost:8000" ><img src="{% static "img/Infosmos_pre.png" %}" width="140px" height="30px" style="padding-top: 0px"/></a></h1>
					</li>
				  </ul>
				<section class="top-bar-section" >
					<ul class="right">
					<!-- Menu Section -->
					<li class="sub-nav">
						{% block navigator-menu %}
                            <li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
                            <li><a href="#"><b>Dashboard</b></a></li>
                            <li><a href="../matches/"><b>Matches</b></a></li>
                            <li><a href="../"><b>Inbox</b></a></li>
                            <li><a href="../accounts/profile/"><b>Profile</b></a></li>
                            <li><a href="../logout/"><b>Logout</b></a></li>
                        {% endblock %}
					</li>
					</ul>

				</section>
			</nav>
		</div>
		{% endblock %}








{% block bodyclass %}{% endblock %}


        <div class="row">
                     <div class="large-3 columns">
                          <h1>Messages</h1>
                            <ul class="subnavilist">
                                <li><a href="{% url 'messages_inbox' %} ">&raquo;&nbsp;{% trans "Inbox" %}</a></li>
                                <li><a href="{% url 'messages_outbox' %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
                                <li><a href="{% url 'messages_compose' %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
                                <li><a href="{% url 'messages_trash' %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
                            </ul>
                     </div>
                     <div class="large-9 columns">
                        {% block content %}
                        {% endblock %}

                     </div>
        </div>

 {% block footer %}
        <footer class="row">
			<div class="large-12 columns">
				<hr />
					<div class="row">
						<div class="large-6 columns">
						<p>Created for COMP 3111 Class.</p>
					</div>
						<div class="large-6 columns">
						<ul class="inline-list right">
							<li><a href="contact">Contact</a></li>
							<li><a href="#">About</a></li>
						</ul>
					</div>
				  </div>
				</div>
		</footer>
        {% endblock %}
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/vendor/fastclick.js' %}"></script>

        <script src="{% static 'js/foundation.min.js' %}"></script> <!-- JavaScript -->
        <script>
            $(document).foundation();
        </script>
    </body>
</html>




