{% extends "../templates/base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Infosmos Home Page{% endblock %}
{% load url from future %}
{% load review_tags %}
{% block navigator-menu %}
	<li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
	<li><a href="#"><b>Dashboard</b></a></li>
	<li><a href="../matches/"><b>Matches</b></a></li>
	<li><a href="../profile/"><b>Profile</b></a></li>
	<li><a href="../logout/"><b>Logout</b></a></li>
{% endblock %}
{% block content %}
        <div class="row">
			 <h1>Find out more about your buddy</h1>
             <div class="large-3 columns">
                 
                  <img src="{{ user2.user.profile.profile_image_url }}"/>
                 </br></br>
                  <a href="../messages/compose/{{ user2.user.username }}" class="expand radius button alert"><strong>Send a Message!</strong></a>
                  <a href="{% url "review_create" content_type='user' object_id=user2.user.pk %}" class="expand radius button">Feedback!</a>
{#                 {{ user2.user.id }}#}
                 {% get_review_count user2.user as review_count %}
                 <p>This user has received {{ review_count }} reviews</p>

             </div>
             <div class="large-9 columns">
			 <div class="row"><br><br><br><br><br></div>
				<div class="row" >
					<div class="columns" >
						<table background-color="#000000">
						  <thead>
							<tr>
							  <th width="200">User Name</th>
							  <th width="350">{{ user2.user.username }}</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>Gender</td>
							  <td>{{ user2.gender }}</td>
							</tr>
							<tr>
							  <td>Location</td>
							  <td>{{ user2.city }}</td>
							</tr>
							<tr>
							  <td>Skills</td>
							  <td>{{ user2.SkillsList }}</td>
							</tr>
							<tr>
							  <td>Desires</td>
							  <td> {{ user2.DesiresList }}</td>
							</tr>
							<tr>
							  <td>Email</td>
							  <td>{{ user2.user.email }}</td>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>				
             </div>
        </div>
        <div>
  		  
</div>

{% endblock %}