{% extends "../templates/base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Infosmos Home Page{% endblock %}

{% block navigator-menu %}
	<li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
	<li><a href="#"><b>Dashboard</b></a></li>
	<li><a href="#"><b>Matches</b></a></li>
	<li><a href="#"><b>Setting</b></a></li>
	<li><a href="../logout/"><b>Logout</b></a></li>
{% endblock %}

{% block content %}
        <div class="row">
             <div class="large-3 columns">
                  <h1>Welcome!</h1>
             </div>
             <div class="large-9 columns">

             </div>
        </div>

{% endblock %}