{% extends "../templates/base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Infosmos Home Page{% endblock %}
{% load url from future %}
{% block navigator-menu %}
	<li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
	<li><a href="#"><b>Dashboard</b></a></li>
	<li><a href="../matches/"><b>Matches</b></a></li>
    <li><a href="../messages/"><b>Inbox</b></a></li>
	<li><a href="../accounts/profile/"><b>Profile</b></a></li>
	<li><a href="../logout/"><b>Logout</b></a></li>
{% endblock %}

{% block content %}

        <div class="row">
             <div class="large-3 columns">
                  <h1>Welcome!</h1>
                 <img src="{{ request.user.profile.profile_image_url }}"/>
             </div>
             <div class="large-9 columns">
                 <br /><br /><br /><br />
                  {% if not request.user.profile.account_verified %} (unverified user! Please verify!) {% endif %}
                 <p>Next Steps!</p>

                 <p><a href="../profile/">Update Profile ></a></p>

             <form action= {% url 'User_Profile.views.user_dashboard' %} method="POST">
      		<input type="submit" value="Match Me!" id="toggle1" />
      		{% csrf_token %}
            </form>
             </div>
        </div>
        <div>

</div>

{% endblock %}