{% extends "../templates/base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Matches{% endblock %}
{% load url from future %}
{% block navigator-menu %}
	<li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
	<li><a href="../dashboard/"><b>DashBoard</b></a></li>
	<li><a href="#"><b>Matches</b></a></li>
    <li><a href="../messages/"><b>Inbox</b></a></li>
	<li><a href="../profile/"><b>Profile</b></a></li>
	<li><a href="../logout/"><b>Logout</b></a></li>
{% endblock %}
{% block content %}
    <div class="row">
             <div class="large-3 columns">
                  <h1>Hi Friend!</h1>
				  <img src="/static/img/defaultuser.png" alt="User_Profile Image"/> 
             </div>
             <div class="large-9 columns">
             <br /><br />
			 <h3>Matches we found for you...</h3>
		<table>
			<thead>
			<tr>
				<th width="300"><h4>Match</h4></th>
				<th width="250"><h4>Teaching</h4></th>
				<th width="250"><h4>Learning</h4></th>
			</tr>
			</thead>
			<tbody>
			{% for item in matches %}
			<tr>
				<td><a href="{% url 'User_Profile.views.buddy' %}?user={{item.user2}}"><img src="{{ item.user2.profile.profile_image_url }}" width="40px"/>{{ item.user2 }}</a></td>
				<td><div style="font-size:12pt">{{ item.offering }}</div></td>
				<td><div style="font-size:12pt">{{ item.recieving }}</div></td>
			</tr>
			{% endfor %}
			</tbody>
	</table>
             </div>
</div>
{% endblock %}