{% extends "../templates/base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Edit Profile{% endblock %}
{% load socialaccount %}
{% load url from future %}

{% block navigator-menu %}
	<li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
	<li><a href="../../dashboard/"><b>Dashboard</b></a></li>
	<li><a href="../../matches/"><b>Matches</b></a></li>
	<li><a href="../profile/"><b>Profile</b></a></li>
	<li><a href="../logout/"><b>Logout</b></a></li>
{% endblock %}

{% block content %}

        <div class="row">
             <div class="large-3 columns">
                  <h1>Your Profile!</h1>
                     <img src="{{ request.user.profile.profile_image_url }}"/>
             <br/><br/><br/>
                     {% if request.user.first_name or request.user.last_name %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                     {% else %}
                        {{ request.user.username }}
                     {% endif %}
                     {{ request.user.email }}
                     <p>Account Status: {% if not request.user.profile.account_verified %} Unverified {% else %} Verified {% endif %}</p>
                     {% if not user.socialaccount_set.all.0.uid %}<p><a href="{% provider_login_url "facebook" process="connect" %}">Connect a Facebook account</a></p>
                       {% endif %}

             </div>
             <div class="large-9 columns">
                 {%  for field in form %}
                    {{ field.error }}
                 {%  endfor %}
                  <form action="/profile/" method = "post"> {% csrf_token %}
                      {{ form.as_p }}
                      <input type = "submit" value="Update" />
                  </form>
                  <p>For Desires and Skills, separate each entry by a comma</p>
             </div>
        </div>

{% endblock %}