{% extends "../templates/base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Edit Profile{% endblock %}

{% block navigator-menu %}
	<li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
	<li><a href="../../dashboard/"><b>Dashboard</b></a></li>
	<li><a href="../../matches/"><b>Matches</b></a></li>
	<li><a href="../profile/"><b>Profile</b></a></li>
	<li><a href="../logout/"><b>Logout</b></a></li>
{% endblock %}

{% block content %}
        <div class="row">
             <div class="large-3 columns">
                  <h1>Your Profile!</h1>
             </div>
             <div class="large-9 columns">
                 {%  for field in form %}
                    {{ field.error }}
                 {%  endfor %}
                  <form action="/profile/" method = "post"> {% csrf_token %}
                      {{ form.as_p }}
                      <input type = "submit" value="Update" />
                  </form>
                  <p>For Desires and Skills, separate each entry by a comma</p>
             </div>
        </div>

{% endblock %}