{% extends "../templates/base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Edit Profile{% endblock %}
{% load socialaccount %}
{% load url from future %}

{% block navigator-menu %}
	<li><a href="#" ><b>Welcome {{ user.username}}</b></a></li>
	<li><a href="../../dashboard/"><b>Dashboard</b></a></li>
	<li><a href="../../matches/"><b>Matches</b></a></li>
    <li><a href="../../messages/"><b>Inbox</b></a></li>
	<li><a href="../profile/"><b>Profile</b></a></li>
	<li><a href="../logout/"><b>Logout</b></a></li>
{% endblock %}

{% block content %}
        <script>
              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '617832874969588',
                  xfbml      : true,
                  version    : 'v2.0',
                  status     : true
                });
                  var temp;
                FB.getLoginStatus(function(response) {
                    if (response.authResponse) {
                        //console.log('Access Token: ' + response.authResponse.accessToken);
                        temp=response.authResponse.accessToken;
                        console.log("hi "+temp);
                        FB.api('/me?access_token={{ temp }}', function (me) {
                            console.log(me); //do anything with me
                        });
                        FB.api('/me/friends', {access_token:temp}, function(response){

                                              var divTarget=document.getElementById("friends-list-container");
                                              var data=response.data;
                                              //alert(response.error)
                                              for (var friendIndex=0; friendIndex<data.length; friendIndex++)
                                            {
                                                   var divContainer = document.createElement("div");
                                                   divContainer.innerHTML="<b>" + data[friendIndex].name + "</b>";
                                                   divTarget.appendChild(divContainer);
                                            }
                        });
                    }
                    else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                });
              };

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="row">
             <div class="large-3 columns">
                  <h1>Your Profile!</h1>
                     <img src="{{ request.user.profile.profile_image_url }}"/>
             <br/><br/><br/>
                     {% if request.user.first_name or request.user.last_name %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                     {% else %}
                        {{ request.user.username }}
                     {% endif %}
                     {{ request.user.email }}
                     <p>Account Status: {% if not request.user.profile.account_verified %} Unverified {% else %} Verified {% endif %}</p>
                     {% if not user.socialaccount_set.all.0.uid %}<p><a href="{% provider_login_url "facebook" process="connect" %}">Connect a Facebook account</a></p>
                     {% else %} <p>Account connected to {{ user.socialaccount_set.all.0.provider }}</p>
                     {% endif %}
                    <div class="fb-share-button" data-href="https://infosmos.pythonanywhere.com/" data-width="400" data-type="button"></div>
                    <div id="fb-root"></div>
                    <section id="friends-list-container"></section>

             </div>
             <div class="large-9 columns-centered">
             </br></br>
                 {%  for field in form %}
                    {{ field.error }}
                 {%  endfor %}
                  <form action="/profile/" method = "post"> {% csrf_token %}
                      {{ form.as_p }}
					  <div align="right">
						<input type = "submit" class="medium button" value="Update" />
						</div>
                  </form>
                  <p>For Desires and Skills, separate each entry by a comma</p>
             </div>
        </div>



{% endblock %}