{% extends "base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Infosmos Home Page{% endblock %}

{% block navigator-menu %}
		<li data-magellan-arrival="build"><a href="#about"><b>About</b> </a></li>
		<li><a href="#how" ><b>How it works</b></a></li>
		<li><a href="#contact"><b>Contact</b></a></li>
{% endblock %}


{% block content %}
<header style="background-image:url('{% static 'img/home/tutor.jpg'%}');background-size: 100%;background-size: cover;min-height: 650px;" >
		
		
<div class="row">
             <div class="small-3 medium-3 large-3 columns" style="padding: 10px"">
				
             </div>
             <div class="small-9 medium-9 large-9 columns">
				
                  <ul class="button-group right">
					
                  </ul>
             </div>
        </div>
        <div class="row">
            <br/><br/><br/><br/>
            <div class="large-5 large-offset-7 columns" style="background-color: rgba(255, 255, 255, 0.5);">
					<img src="{% static "img/Infosmos_pre.png" %}" width="280px" height="60px" style="padding-top: 15px">
					<h4>Infosmos matches you with someone with similar interest, thus allowing both of you to improve your skills.<br>Sign up now to find a buddy!</h4>
                    <br/>
                    <div clas="small-5 large-centered columns">
{#								 <input type = "text" placeholder = "Full name" />#}
{#								 <input type = "text" placeholder = "Email" />#}
{#								 <input type = "password" placeholder = "Password" />#}
								 <a href="register/" class="expand radius button"><strong>Sign Up</strong></a><br/>
								 <a href="login/" class="expand radius button alert"><strong>Sign In</strong></a><br/>
				<div>

            </div>
        </div>
    </header>
	<a name="about"></a>
      <div  class="row">
      <br/><br/><br/>
        <div class="large-12 columns">
          <h2 align = "center">About</h2>
          <hr>
		  <p> The vision of infosmos is to connect people with needs. 
    		<br>example: A tutor is an instructor who gives private lessons. Shadow education is a pejorative name for private supplementary tutoring that is offered outside the mainstream education system.
			<br>Online tutoring is a new way for a student to receive help, either scheduled or on-demand. Sessions are done through an application where a student and tutor can communicate. Common tools include chat, whiteboard, web conferencing, teleconferencing and other specialized applets which make it easier to convey information back and forth. For example, there are specialized applets designed specifically for mathematics which allow the use of mathematical symbols.
			<br>Online tutoring has been gaining popularity over the past couple of years due to the ease of being able to connect to a tutor at moment's notice when help is required.[citation needed] This is especially effective when a student is studying for a test that is scheduled for the next day at school and is stumped on a particular problem. Not all online tutoring companies offer an on-demand tutoring service.</p>
        </div>
      </div>
      <!-- Second Band (Image Left with Text) -->

      <div id="how" class="row">
        <h2 align = "center">How it works</h2>
          <hr>
        <div class="large-4 columns">
          <img src="http://placehold.it/400x300&text=[img]">
        </div>
        <div class="large-8 columns">
          <h4>This is a content section.</h4>
          <div class="row">
            <div class="large-6 columns">
              <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>
            <div class="large-6 columns">
              <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
            </div>
          </div>
        </div>
      </div>


      <div id="contact" class="row">
      <h2 align = "center">Contact Us</h2>
                    <hr>

      </div>
{% endblock %}

      <!-- Footer-->

