{% extends "base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %}Infosmos Home Page{% endblock %}

{% block navigator-menu %}
		<li data-magellan-arrival="build"><a href="#about"><b>About</b> </a></li>
		<li><a href="#how" ><b>How</b></a></li>
		<li><a href="contact"><b>Contact</b></a></li>
{% endblock %}


{% block content %}
<header style="background-image:url('{% static 'img/home/tutor.jpg'%}');background-size: 100%;background-size: cover;min-height: 650px;" >


<div class="row">
             <div class="small-3 medium-3 large-3 columns" style="padding: 10px"">

             </div>
             <div class="small-9 medium-9 large-9 columns">

                  <ul class="button-group right">

                  </ul>
             </div>
        </div>
        <div class="row">
            <br/><br/>
			<div class="large-7 columns">
			
</div>
            <div class="large-5 columns" style="background-color: rgba(255, 255, 255, 0.5);">
					<img src="{% static "img/Infosmos_pre.png" %}" width="420px" height="90px" style="padding-top: 15px">
					<br/> <br/>
					<h5> Most of all information may be available on the internet. BUT, we are human. We deserve real people. 
					<br/>
					Presenting Infosmos - Connecting People because we deserve it.  </h5>
                    <br/>
                    <div clas="small-5 large-centered columns">
{#								 <input type = "text" placeholder = "Full name" />#}
{#								 <input type = "text" placeholder = "Email" />#}
{#								 <input type = "password" placeholder = "Password" />#}
                                <div class="row">
                                <div class="small-1 columns">&nbsp;</div>
                                <div class="small-5 columns"><a href="register/" class="expand radius button"><strong>Sign Up</strong></a></div>
                                <div class="small-5 columns"><a href="login/" class="expand radius button alert"><strong>Sign In</strong></a></div>
                                <div class="small-1 columns">&nbsp;</div>
                                </div>

                                <div class="row">
                                <div class="small-1 columns">&nbsp;</div>
                                <div class="small-10 columns">
                                    <div align="center">
                                    <a href="/accounts/facebook/login/"><img src="{% static "img/fb.png" %}"></a>
                                    <br /><br />
                                    <a href="/accounts/linkedin/login/"><img src="{% static "img/li.png" %}"></a>
                                    </div>
                                </div>
                                <div class="small-1 columns">&nbsp;</div>
                                </div>

                        <br/>

				<div>

            </div>
        </div>
    </header>
	<a name="about"></a>
      <div  class="row">
      <br/><br/><br/>
	  <div class="large-7 columns">
				<ul class="example-orbit" data-orbit>
		  <li>
			<img src="{% static "img/sliderimages/Slide1.JPG" %}" alt="slide 1" />
		  </li>
		  <li>
			<img src="{% static "img/sliderimages/Slide2.JPG" %}" alt="slide 2" />
		  </li>
		  <li>
			<img src="{% static "img/sliderimages/Slide3.JPG" %}" alt="slide 3" />
		  </li>
		  <li>
			<img src="{% static "img/sliderimages/Slide4.JPG" %}" alt="slide 4" />
		  </li>
		  <li>
			<img src="{% static "img/sliderimages/Slide5.JPG" %}" alt="slide 5" />
		  </li>
		</ul>
		</div>
		<div class="large-5 columns">
	      <h2 align = "center">About</h2>
          <hr>
		  <p> 
		   There is a lot of information available on the internet. There are many social platforms connecting people. Our goal is to merge the two. Infosmos is a web platform that matches people for mutual enlightenment and knowledge sharing. 
		   It is inspired by the idea that the natural tendency of information is to flow from higher to lower concentration and that it is natural for people with similar interests to connect -- Therefore, we believe in "Osmosis of Information" or "Infosmos". 
		   To find a "buddy" who shares a common interest or find a "mentor" to guide you or for an expert who is looking for mentees, Infosmos is at your service!
    	</div>
		
      </div>
      <!-- Second Band (Image Left with Text) -->
	  
      <div class="row">
		<h2 id="how" align = "center">How</h2>
          <hr>
		   <div class="large-7 columns">
			  <img src="{% static 'img/howinfosmos.jpg' %}" width="600px" style="padding-top: 15px">
			  <div class="row">
				<div class="large-6 columns">
				  <p></p>
				</div>
				<div class="large-6 columns">
				  <p></p>
				</div>
          </div>
        </div>
        <div class="large-5 columns">
			<h4>
			<br/> <br/>
			1. Sign-in or sign up to create a profile
			<br/> <br/>
			2. Update your interests
			</br> </br>
			3. Find a match
			</h4>
        </div>       
      </div>


{#      <div id="contact" class="row">#}
{#		  <h2 align = "center">Contact</h2>#}
{#		  <hr>#}
{#		<h4>COMP3111 Group 6</h4>#}
{#      </div>#}
{% endblock %}

      <!-- Footer-->